@media screen and (min-width: 1080px){
    main {
        width: 1080px;
        margin:auto;
        }
}

main {
    padding-top: 16em;
    padding-bottom: 4em;
}
.buttons {
    padding-top: 10em;
    padding-bottom: 12em;
}
.bio {
    font-size: 20px;
}
#icon {
    border-radius: 50%;
}
#box {
    height: 100vh;
}